.car, .reverse-car{
    position: absolute;
    background: url(static/car.png) no-repeat center center;
    background-size: cover;
    width: 45px;
    height: 85px;
    bottom: 5%;
    border-radius: 19px 19px 14px 13px;
    filter: drop-shadow(5px 5px 10px #222);
    /* transform: translateX(-50%); */
    z-index: 1;
}
.reverse-car{
    background-color: #800000;
    transform: translateX(-50%) rotate(180deg);
}
.road-line{
    width: 1rem;
    height: 6rem;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}