*{
    margin :0px;
    padding :0px;
    box-sizing: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hide{
    display: none;
}
.carGame{
    background: url(bg.png);
}
.car1 , .car2, .enemy{
    width: 45px;
    height: 70px;
    background-color: red;
    position: absolute;
    bottom: 50px; 
    left: 75px;
    border-radius: 20%;
}
.car2{
    background-color: blue;
    left: 275px;
}
.lines{
    width: 10px;
    height: 100px;
    background-color: white;
    position: absolute;
    left: 195px;
}
.gameArea{
    width: 400px;
    height: 100vh;
    background: #2d3436;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-right: 7px dashed #c8d6e5;
    border-left: 7px dashed #c8d6e5;
}
.score{
    position: absolute;
    top: 15px;
    left: 40px;
    background-color: rgb(30, 216, 151);
    width: 300px;
    height: 70px;
    color: rgb(6, 32, 96);
    font-size: 1.5em;
    font-weight: bolder;
    box-shadow: 0 5px 5px #777;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startScreen{
    position: absolute;
    background-color: #ee5253;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    border: 1px solid #ff6b6b;
    padding: 15px;
    margin: auto;
    width: 50%;
    cursor: pointer;
    letter-spacing: 5;
    font-size: 20px;
    word-spacing: 3;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777;
}